@model Nventory.ViewModels.UserViewModel

@{
    Layout = null;
}

    <div>
        <div class="container">
            <div class="row">
                <div class="col">
                    <dl class="row">
                        <dt class="col-sm-3">
                            @Html.DisplayNameFor(model => model.UserName)
                        </dt>
                        <dd class="col-sm-10">
                            @Html.DisplayFor(model => model.UserName)
                        </dd>
                        <dt class="col-sm-3">
                            @Html.DisplayNameFor(model => model.Email)
                        </dt>
                        <dd class="col-sm-10">
                            @Html.DisplayFor(model => model.Email)
                        </dd>
                        <dt class="col-sm-3">
                            @Html.DisplayNameFor(model => model.Name)
                        </dt>
                        <dd class="col-sm-10">
                            @Html.DisplayFor(model => model.Name)
                        </dd>
                        <dt class="col-sm-3">
                            @Html.DisplayNameFor(model => model.Surname)
                        </dt>
                        <dd class="col-sm-10">
                            @Html.DisplayFor(model => model.Surname)
                        </dd>
                        <dt class="col-sm-3">
                            @Html.DisplayNameFor(model => model.Patronymic)
                        </dt>
                        <dd class="col-sm-10">
                            @Html.DisplayFor(model => model.Patronymic)
                        </dd>
                        <dt class="col-sm-5">
                            @Html.DisplayNameFor(model => model.StaffNumber)
                        </dt>
                        <dd class="col-sm-10">
                            @Html.DisplayFor(model => model.StaffNumber)
                        </dd>
                    </dl>
                </div>
                <div class="col">
                    <dl class="row">
                        <dt class="col-sm-3">
                            <label>Roles</label>
                        </dt>
                        @foreach (var role in Model.Roles)
                        {
                            <dd class="col-sm-10">
                                <label>@role</label>
                            </dd>
                        }
                    </dl>
                </div>
            </div>
        </div>        
    </div>